@charset "UTF-8";
/* =========================================== */
body {
  margin: 0;
  padding: 0;
}
/* =========================================== */
.container {
  box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
  background-image: url("../images/felt.png");
  /* border: 5px solid #cccccc; */
  height: 736px;
}
/* =========================================== */
.top_part {
  box-sizing: border-box;
  height: 60px;
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2.5em;
  line-height: 80px;
  font-family: minotaur;
  color: white;
  letter-spacing: .05em;
  text-shadow: 2px 2px 7px black, 3px 3px 0px rgba(0, 0, 0, 0.2);
}
/* =========================================== */
.bottom_part {
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 379px;
}
/* =========================================== */
.bottom_part img {
  display: block;
  width: 700px;
  margin-left: -100px;
}
/* =========================================== */
.player_cards {
  position: fixed;
  left: 50%;
  margin-left: -200px;
  top: 220px;
  z-index: 100;
  width: 400px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
/* =========================================== */
.dealer_cards {
  position: fixed;
  left: 50%;
  margin-left: -200px;
  top: 100px;
  z-index: 100;
  width: 400px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
/* =========================================== */
.cards {
  position: relative;
  width: 63px;
  margin: 5px;
  margin-left: -10px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
/* =========================================== */
.player_money {
  position: fixed;
  left: 50%;
  margin-left: -100px;
  top: 340px;
  z-index: 300;
  width: 200px;
  height: 30px;
  border-radius: 2px;
  color: white;
  text-align: center;
  line-height: 30px;
  font-family: Metropolis;
}
/* =========================================== */
.bet {
  position: fixed;
  left: 50%;
  margin-left: -100px;
  top: 370px;
  z-index: 400;
  width: 200px;
  height: 30px;
  border-radius: 2px;
  color: white;
  text-align: center;
  line-height: 30px;
  font-family: Metropolis;
}
/* =========================================== */
.chips_box {
  /* background-color: yellow; */
  position: fixed;
  top: 410px;
  z-index: 500;
  box-sizing: border-box;
  width: 280px;
  height: 50px;
  left: 50%;
  margin-left: -140px;
}
/* =========================================== */
.chips {
  display: block;
  float: left;
  width: 50px;
  margin: 0 10px;
}
/* =========================================== */
.buttons_box {
  /* background-color: yellow; */
  position: fixed;
  top: 480px;
  z-index: 600;
  box-sizing: border-box;
  width: 300px;
  /* height: 50px; */
  left: 50%;
  margin-left: -150px;
  display: none;
}
/* =========================================== */
.buttons {
  display: block;
  float: left;
  width: 90px;
  margin: 0 5px;
}
/* =========================================== */
.deal_button {
  /* background-color: yellow; */
  position: fixed;
  top: 480px;
  z-index: 700;
  box-sizing: border-box;
  width: 300px;
  /* height: 50px; */
  left: 50%;
  margin-left: -150px;
  /* display: none; */
}
/* =========================================== */
.deal_button_img {
  display: block;
  width: 90px;
  margin: 0 auto;
}
/* =========================================== */
.deal_button_img:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* =========================================== */
.split_buttons {
  /* background-color: yellow; */
  position: fixed;
  top: 480px;
  z-index: 800;
  box-sizing: border-box;
  width: 200px;
  /* height: 50px; */
  left: 50%;
  margin-left: -100px;
  display: none;
}
/* =========================================== */
.split_img {
  display: block;
  width: 90px;
  float: left;
  margin: 0 5px;
}
/* =========================================== */
.insurance_buttons {
  /* background-color: yellow; */
  position: fixed;
  top: 480px;
  z-index: 900;
  box-sizing: border-box;±
  width: 200px;
  /* height: 50px; */
  left: 50%;
  margin-left: -100px;
  display: none;
}
/* =========================================== */
.insurance_img {
  display: block;
  width: 90px;
  float: left;
  margin: 0 5px;
}
/* =========================================== */
.message {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  width: 300px;
  height: 60px;
  z-index: 900;
  left: 50%;
  margin-left: -150px;
  top: -70px;
  border-radius: 5px;
}
/* =========================================== */
.close {
  box-sizing: border-box;
  margin: 5px;
  padding: 2px;
  border: 1px solid black;
  width: 23px;
  height: 23px;
  text-align: center;
  border-radius: 50%;
  font-size: 0.8em;
  line-height: 18px;
  float: left;
  font-family: overpass;
}
/* =========================================== */
.close:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* =========================================== */
.chips {
  
}
/* =========================================== */
.chips:hover {
  cursor: pointer;
  opacity: 0.6;
}
/* =========================================== */
.infos {
  box-sizing: border-box;
  /* background-color: yellow; */
  width: 250px;
  float: left;
  text-align: center;
  height: 60px;
  padding: 5px;
  font-family: overpass;
}
/* =========================================== */
/* =========================================== */
@font-face {
  font-family: minotaur;
  src: url("../fonts/minotaur.ttf");
}
@font-face {
  font-family: overpass;
  src: url("../fonts/overpass-semibold.otf");
}
@font-face {
  font-family: Metropolis;
  src: url("../fonts/Metropolis-Bold.otf");
}
/* =========================================== */
/* =========================================== */
/* =========================================== */
@media screen and (max-width:414px) {
  .container {
    width: 100%;
    height: 736px;
  }
  .bottom_part img {
    margin-left: -143px;
  }
  .player_cards, .dealer_cards {
    width: 380px;
    margin-left: -190px;
  }
  /* .cards {
    margin-left: 5px;
  } */
}
@media screen and (max-width:375px) {
  .container {
    width: 100%;
    height: 667px;
  }
  .bottom_part img {
    margin-left: -162.5px;
  }
  .bottom_part {
    margin-top: 310px;
  }
  .player_cards {
    width: 340px;
    margin-left: -170px;
    top: 220px;
  }
  .dealer_cards {
    width: 340px;
    margin-left: -170px;
    top: 100px;
  }
  .player_money {
    top: 340px;
  }
  .bet {
    top: 370px;
  }
}
@media screen and (max-width:320px) {
  .container {
    width: 100%;
    height: 568px;
  }
  .bottom_part img {
    display: none;
  }
  .bottom_part {
    margin-top: 211px;
  }
  .player_cards {
    width: 300px;
    margin-left: -150px;
    top: 220px;
  }
  .dealer_cards {
    width: 300px;
    margin-left: -150px;
    top: 100px;
  }
  /* .cards {
    margin-left: -3px;
  } */
  .player_money {
    top: 340px;
  }
  .bet {
    top: 370px;
  }
}
/* =========================================== */
