@charset "UTF-8";
/* =========================================== */
body {
  margin: 0;
  padding: 0;
}
/* =========================================== */
.container {
  box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
  background-image: url("../images/felt.png");
  /* border: 5px solid #cccccc; */
  height: 736px;
}
/* =========================================== */
.top_part {
  box-sizing: border-box;
  height: 60px;
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2.5em;
  line-height: 80px;
  font-family: minotaur;
  color: white;
  letter-spacing: .05em;
  text-shadow: 2px 2px 7px black, 3px 3px 0px rgba(0, 0, 0, 0.2);
}
/* =========================================== */
.bottom_part {
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 379px;
}
/* =========================================== */
.bottom_part img {
  display: block;
  width: 700px;
  margin-left: -100px;
}
/* =========================================== */
.player_cards {
  position: fixed;
  left: 50%;
  margin-left: -200px;
  top: 300px;
  z-index: 100;
  width: 400px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
/* =========================================== */
.dealer_cards {
  position: fixed;
  left: 50%;
  margin-left: -200px;
  top: 100px;
  z-index: 100;
  width: 400px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
/* =========================================== */
.cards {
  position: fixed;
  display: block;
  width: 63px;
  margin: 5px;
  margin-left: 300px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
/* =========================================== */
.player_money {
  position: fixed;
  left: 50%;
  margin-left: -100px;
  top: 420px;
  z-index: 300;
  width: 200px;
  height: 30px;
  border-radius: 2px;
  color: white;
  text-align: center;
  line-height: 30px;
  font-family: Verdana;
}
/* =========================================== */
/* =========================================== */
@font-face {
  font-family: minotaur;
  src: url("../fonts/minotaur.ttf");
}
/* =========================================== */
/* =========================================== */
/* =========================================== */
@media screen and (max-width:414px) {
  .container {
    width: 100%;
    height: 736px;
  }
  .bottom_part img {
    margin-left: -143px;
  }
  .player_cards, .dealer_cards {
    width: 380px;
    margin-left: -190px;
  }
  .cards {
    margin-left: 5px;
  }
}
@media screen and (max-width:375px) {
  .container {
    width: 100%;
    height: 667px;
  }
  .bottom_part img {
    margin-left: -162.5px;
  }
  .bottom_part {
    margin-top: 310px;
  }
  .player_cards {
    width: 340px;
    margin-left: -170px;
    top: 275px;
  }
  .dealer_cards {
    width: 340px;
    margin-left: -170px;
    top: 100px;
  }
  .player_money {
    top: 390px;
  }
}
@media screen and (max-width:320px) {
  .container {
    width: 100%;
    height: 568px;
  }
  .bottom_part img {
    margin-left: -190px;
  }
  .bottom_part {
    margin-top: 211px;
  }
  .player_cards {
    width: 300px;
    margin-left: -150px;
    top: 240px;
  }
  .dealer_cards {
    width: 300px;
    margin-left: -150px;
    top: 100px;
  }
  .cards {
    margin-left: -3px;
  }
  .player_money {
    top: 350px;
  }
}
/* =========================================== */















